body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.grid-item {
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.item1 {
    grid-column: span 2; /* Ocupa 2 colunas */
    grid-row: span 2;    /* Ocupa 2 linhas */
}

.item2 {
    grid-column: span 1;
    grid-row: span 1;
}

.item3 {
    grid-column: span 1;
    grid-row: span 1;
}

.item4 {
    grid-column: span 1;
    grid-row: span 1;
}

.item5 {
    grid-column: span 1;
    grid-row: span 1;
}

.item6 {
    grid-column: span 1;
    grid-row: span 1;
}

.item7 {
    grid-column: span 1;
    grid-row: span 1;
}

.item8 {
    grid-column: span 1;
    grid-row: span 1;
}

.item9 {
    grid-column: span 1;
    grid-row: span 1;
}

.item10 {
    grid-column: span 1;
    grid-row: span 1;
}